* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-align: center;
    line-height: 125%;
}

body {
    background-color: black;
}

h1 {
    color: white;
    font-weight: bolder;
    font-size: 2em;
    border-bottom: .1em solid white;
    background-color: purple;
}

li {
    text-align: left;
}

.RecIndex, .RecList {
    background-color: purple;
    list-style: none;
}

.RecIndex {
    margin: 0em 20em;
    padding: 1.25em;
}

.RecList {
    margin: auto auto .75em;
}